# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-slack
airflow-provider-datarobot
#datarobotx
datarobot-bp-workshop
matplotlib
statsmodels
scipy
scikit-learn
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=4.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
marshmallow>=3.26.2 # not directly required, pinned by Snyk to avoid a vulnerability