cohere==5.2.2
datarobot-drum==1.10.10
flask-cors>=6.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
